h1{font-style: italic;
    font-family: sans-serif;
    background-color: aqua;
}
p{
    font-weight: 600px;
    size: 300em;
    line-height: 10px;
    text-decoration: overline;
    background-color: aliceblue;
}
body{font-size: 16px;}